<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Ear training</string>
	<key>Description</key>
	<string>Fixing off-key notes.</string>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Listen the song and pay attention at the [accidentals](glossary://accidental). Then follow the instructions and fix off-key notes.</string>
		</dict>
	</array>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>PosterReference</key>
	<string>PosterView.png</string>
</dict>
</plist>
