<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Adding a new note</string>
	<key>Description</key>
	<string>Getting familiar with notes.</string>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>You need to write some notes using `addNote()`.</string>
		</dict>
	</array>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>PosterReference</key>
	<string>PosterView.png</string>
</dict>
</plist>
